:root {
  --backgroundColor: #e7bdd6;
  --cardFrontBackgroundColor: #1b2b5a;
  --cardFrontForegroundColor: #ffffff;
  --cardBackBackgroundColor: #121b45;
  --cardBackForegroundColor: #ffffff;
  --cardBorderColor: #2e436d;
}

.card-wrapper {
  perspective: 1000px;
  user-select: none;
}

.card {
  position: relative;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cardBorderColor);
  border-radius: 10px;
  overflow: hidden;
}

.card.flipped {
  transform: rotateY(-180deg);
}

.card .front {
  color: var(--cardFrontForegroundColor);
  background: var(--cardFrontBackgroundColor);
  z-index: 10;
}

.card .back {
  color: var(--cardBackForegroundColor);
  background: var(--cardBackBackgroundColor);
  transform: rotateY(-180deg);
}

.postpone--btns {
  width: 100%;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.postpone--btn {
  cursor: pointer;
  border-radius: 20px;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  background-color: #1f2a5b;
}

.postpone--btn:hover {
  background-color: #182146;
}

.postpone--btn:focus {
  outline: 2px solid #ffffff;
}

.card--image {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.img--parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  overflow: auto;
}

.img--parent h3 {
  max-height: 25vh;
  height: auto;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: normal;
}
