.container {
  padding: 0;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.block {
  width: 20px;
  height: 25px;
  background-color: #121b45;
  margin: 2px;
  border-radius: 4px;
  opacity: 0.8;
}
