/* Hide spinners in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 3rem;
  user-select: none;
}

.inputBox input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.8rem;
  padding-top: 25px;
  padding-left: 6px;
  border-bottom: 2px solid #fff;
}

.input--span {
  color: #fff8;
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 0.85rem;
  padding: 1rem 0.25rem;
  pointer-events: none;
  transition: all 0.4s ease;
}

.inputBox input:valid {
  border-color: #3498db;
}

.inputBox input:focus {
  background-color: #242222;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  font-size: 0.7rem;
  color: #fff6;
  transform: translate(0px, -15px);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  font-size: 0.8rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #fff;
  margin: 0 10px;
}

.divider span {
  padding: 0 10px;
  color: #666;
}

.oauth--buttons {
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  background-color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.oauth--buttons:hover {
  background-color: #333;
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #1f1d1d;
  padding: 2rem;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  position: relative;
}

.warning--box--animate {
  transition: all 0.5s ease-in-out;
}

.warning--box--animate.show {
  animation: shake 0.5s ease-in-out, expandMenu 0.5s forwards;
}

@keyframes expandMenu {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 5rem;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
